@font-face {
  font-family: "hbh";
  src: url("../assets/fonts/hbh.eot");
  src: url("../assets/fonts/hbh.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/hbh.woff") format("woff"), url("../assets/fonts/hbh.ttf") format("truetype"), url("../assets/fonts/hbh.svg#hbh") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "hbh" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hbh" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "a"; }

.icon-cancel:before {
  content: "b"; }

.icon-reorder:before {
  content: "c"; }

.icon-cross-mark:before {
  content: "d"; }

.icon-chevron-down:before {
  content: "e"; }

.icon-chevron-left:before {
  content: "f"; }

.icon-chevron-right:before {
  content: "g"; }

.icon-chevron-up:before {
  content: "h"; }

.icon-arrow-up:before {
  content: "i"; }

.icon-arrow-left:before {
  content: "j"; }

.icon-arrow-down:before {
  content: "k"; }

.icon-arrow-right:before {
  content: "l"; }

.icon-down-open-big:before {
  content: "m"; }

.icon-down-open-mini:before {
  content: "n"; }

.icon-down-open:before {
  content: "o"; }

.icon-left-open:before {
  content: "p"; }

.icon-left-open-big:before {
  content: "q"; }

.icon-left-open-mini:before {
  content: "r"; }

.icon-right-open:before {
  content: "s"; }

.icon-right-open-big:before {
  content: "t"; }

.icon-right-open-mini:before {
  content: "u"; }

.icon-plus:before {
  content: "v"; }

.icon-up-open:before {
  content: "w"; }

.icon-up-open-big:before {
  content: "x"; }

.icon-up-open-mini:before {
  content: "y"; }

.icon-twitter-circled:before {
  content: "z"; }

.icon-linkedin-circled:before {
  content: "A"; }

.icon-gplus-circled:before {
  content: "B"; }

.icon-facebook-circled:before {
  content: "C"; }

.icon-linkedin:before {
  content: "D"; }

.icon-gplus:before {
  content: "E"; }

.icon-twitter:before {
  content: "F"; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "proxima-nova", sans-serif; }

p {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  /* 24 */
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0; }

h1 {
  font-size: 3em;
  /* 48 */
  line-height: 1em;
  /* 48 */
  margin: 1em auto .5em;
  font-family: "bookmania", serif;
  font-weight: bold; }

h2 {
  font-size: 2.25em;
  /* 36 */
  line-height: 1.3333em;
  /* 48 */
  margin: 1.3333em auto .66667em;
  font-family: "proxima-nova", sans-serif;
  font-weight: bold; }

h3 {
  font-size: 1.5em;
  /* 24 */
  line-height: 1em;
  /* 24 */
  margin-bottom: 1em;
  font-family: "bookmania", serif;
  font-weight: bold; }

h4, h5, h6 {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  /* 24 */
  margin-bottom: 1.5em;
  font-family: "proxima-nova", sans-serif;
  font-weight: bold; }

ul, ol {
  list-style-type: none;
  margin: 0; }

small,
.dablink,
.hatnote {
  max-width: 46em;
  font-size: .875em;
  /* 14 */
  line-height: 1.714285714em;
  /* 24 */
  margin: 0 0 1.714285714em; }

tr, td, th {
  padding: 0; }

tr th {
  padding-top: 1.714285714em; }

a {
  color: #66a9dc;
  text-decoration: none; }
  a:hover {
    color: #417bb8;
    text-decoration: none;
  }

label {
  font-weight: bold; }

[class*='col'] {
  float: left;
  padding-right: 1em; }

[class*='col']:first-of-type {
  padding-left: 0; }

[class*='col']:last-of-type {
  padding-right: 0; }

.col0 {
  width: 4.1675%; }

.col1 {
  width: 8.33%; }

.col2 {
  width: 16.67%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.33%; }

.col5 {
  width: 41.6666%; }

.col6 {
  width: 50%; }

.col8 {
  width: 66.67%; }

.col10 {
  width: 83.33%; }

.col12 {
  width: 100%;
  padding-right: 0; }

.py2 {
  padding-top: 2em;
  padding-bottom: 2em; }

.py4 {
  padding-top: 4em;
  padding-bottom: 4em; }

.py6 {
  padding-top: 6em;
  padding-bottom: 6em; }

.py8 {
  padding-top: 8em;
  padding-bottom: 8em; }

.mb0 {
  margin-bottom: .5em; }

.mb1 {
  margin-bottom: 1em; }

.mb2 {
  margin-bottom: 2em; }

.mb4 {
  margin-bottom: 4em; }

.mb6 {
  margin-bottom: 6em; }

.mb8 {
  margin-bottom: 8em; }

.mt0 {
  margin-top: .5em; }

.mt1 {
  margin-top: 1em; }

.mt2 {
  margin-top: 2em; }

.mt3 {
  margin-top: 3em; }

.mt4 {
  margin-top: 4em; }

.mt6 {
  margin-top: 6em; }

.mt8 {
  margin-top: 8em; }

.ml0 {
  margin-left: 4.1675%; }

.ml1 {
  margin-left: 8.33%; }

.ml2 {
  margin-left: 16.67%; }

.ml3 {
  margin-left: 25%; }

.ml4 {
  margin-left: 33.33%; }

.ml5 {
  margin-left: 41.6666%; }

.ml6 {
  margin-left: 50%; }

.ml8 {
  margin-left: 66.67%; }

.mr0 {
  margin-right: 4.1675%; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.limit {
  width: 100%;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.vert-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.fr {
  float: right; }

.fl {
  float: left; }

.center {
  margin-left: auto;
  margin-right: auto; }

.masthead {
  position: absolute;
  top: 0; }

header {
  padding: 1em 0em; }
  header .logo {
    width: 10em; }
  header .logo:before {
    content: '';
    background-image: url(/static/img/lifering.svg);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    height: 2.5em;
    width: 2.5em; }
  header nav {
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    font-size: 1em; }
    header nav li {
      float: left; }
      header nav li a {
        line-height: 5.5rem;
        padding: 1em;
        font-weight: bold;
        text-transform: uppercase;
        color: #000; }
        header nav li a:hover {
          color: #FFF;
          background: #000;
        }
        header nav li a.strong {
          color: #008cff;
          font-weight: 500; }
          header nav li a.strong:hover {
            color: #0070cc; }

/*
BUTTON STYLES
==========================*/
.btn {
  opacity: 1;
  text-align: center;
  cursor: pointer;
  background-color: #008cff;
  color: #FFF;
  padding: .5em 1em;
  border-radius: 4px;
  font-weight: 500; }
  .btn:hover {
    background: #007ee6;
    color: #FFF; }
  .btn.stroke {
    background-color: transparent;
    border: 2px solid #008cff;
    color: #008cff; }
    .btn.stroke:hover {
      background-color: #008cff;
      border: 2px solid #008cff;
      color: #FFF; }
  .btn.btn-lrg {
    font-size: 1.2em;
    letter-spacing: .05em; }
  .btn.btn-sml {
    font-size: 10px;
    line-height: 10px;
    padding: 10px; }
  .btn.btn-tiny {
    font-size: 8px;
    line-height: 8px;
    padding: 8px; }
  .btn.btn-main {
    border-color: #008cff;
    background-color: #FFF;
    color: #222; }
    .btn.btn-main:hover {
      background-color: #008cff;
      color: #FFF;
      background-image: none; }
  .btn.btn-red {
    color: #FFF;
    background-color: #ef2929;
    border: 2px solid #ef2929; }
    .btn.btn-red:hover {
      background-color: #d51010;
      border: 2px solid #d51010;
      color: #FFF; }
    .btn.btn-red.stroke {
      background-color: transparent;
      border: 2px solid #ef2929;
      color: #ef2929; }
      .btn.btn-red.stroke:hover {
        background-color: #ef2929;
        border: 2px solid #ef2929;
        color: #FFF; }
  .btn.btn-green {
    background-color: #008cff;
    border: 2px solid #008cff;
    color: #FFF; }
    .btn.btn-green:hover {
      background-color: #0070cc;
      border: 2px solid #0070cc;
      color: #FFF; }
    .btn.btn-green.stroke {
      background-color: transparent;
      border: 2px solid #008cff;
      color: #008cff; }
      .btn.btn-green.stroke:hover {
        background-color: #008cff;
        border: 2px solid #008cff;
        color: #FFF; }
  .btn.quiet {
    background-color: #bfbfbf;
    color: #878787;
    border: 2px solid #b5b5b5;
    border-radius: 0; }
    .btn.quiet:hover {
      color: #878787;
      border-color: #9e9e9e; }
      .btn.quiet:hover p {
        color: #878787; }
  .btn.btn-white {
    color: #008cff;
    background-color: #FFF;
    background-image: none;
    border: 2px solid #FFF; }
    .btn.btn-white:hover {
      background-color: transparent;
      border: 2px solid #FFF;
      color: #FFF; }
    .btn.btn-white.stroke {
      background-color: transparent;
      border: 2px solid #FFF;
      color: #FFF; }
      .btn.btn-white.stroke:hover {
        background-color: #FFF;
        border: 2px solid #FFF;
        color: #008cff; }

.splash {
  height: 720px;
  width: 100%; }

::selection {
  background-color: #efefef;
  color: #000; }

body, input {
  font-family: "Helvetica", sans-serif;
  color: #444; }

h1,
h2 {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-weight: bold; }

h3,
label {
  font-family: "proxima-nova", sans-serif;
  font-weight: bold; }

.f-lrg {
  font-size: 2em; }

.f-sml {
  font-size: .875em; }

.f-thin {
  font-weight: 100; }

.f-thick {
  font-weight: 600; }

.f-left {
  text-align: left; }

.f-center {
  text-align: center; }

.f-right {
  text-align: right; }

.f-gray {
  color: #999; }

.f-caps {
  text-transform: uppercase; }

.radius {
  border-radius: 4px; }

.white {
  background-color: #FFF; }

.sand {
  background-color: #fff7e9; }

/*# sourceMappingURL=main.css.map */
